*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(212, 20, 230);
}

.con{
    text-align: center;
}

.main{
    height: 75vh;
    width: 45vh;
    border: 6px double white;
    margin: auto;
    margin-top: 12vh;
    background-color: rgb(26, 25, 25);
    border-radius: 5vh;
}
div button{
    width: 8vh;
    height: 8vh;
    border-radius: 10vh;
    background-color: rgb(48, 44, 44);
    margin: 0.5vh;
    font-size: 2.3vh;
    color: white;
}
#screen{
    width: 40vh;
    height: 15vh;
    border: none;
    margin-top: 6vh;
    margin-bottom: 6vh;
    font-size: 8vh;
    font-family: Arial, Helvetica, sans-serif;
}

.ip1{
    border-radius: 10vh;
    background-color: rgb(240,115,13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ip0{
    width: 18vh;
}